body {
  background-color: #e8e8ec;
}

div h1 {
  margin: 1px;
  color: #2a8a6d;
}

div ul {
  list-style-type: none;
  font-size: 20px;
}

div li {
  padding: 2px;
}

.cursos {
  position: relative;
  display: inline-flex;
  width: 100%;
}

#DesarrolloWeb {
  margin-right: 5px;
}

#programacion {
  margin-left: 5px;
}

.cursos div {
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  border: solid 1px #b2b2b3;
  border-radius: 4px;
}
.numer {
  font-size: 20px;
  color: #ffffff;
}
.tabla {
  padding: 5px;
  border-radius: 5px;
 margin: auto;
  width: 95%;
  position: relative;
  top: 10px;
  height: 370px;
  border: solid #2a8a6d 1px;
  background-color: #2a8a6d;
}
.tabla p {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.entrada {
  margin-top: 5px;
  font-size: 20px;
}
.tabla button {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(66, 66, 156);
  color: #ffffff;
  cursor: pointer;
}
table {
  width: 300px;
  background-color: white;
  border-collapse: collapse;
  border-radius: 4px;
  color: black;
}
table td {
  color: #000000;
  text-align: center;
  font-size: 15px;
  background-color: #eeeeee;
  border: solid 1px #ddd;
  padding: 1px;
}

#multi, #division, #resta, #suma {
  width: 300px;
  
  margin: 10px;
  position: relative;
}
.tab{
    position: relative;
    display: inline-flex;
    top: 50px;
}
