body {
    background-color: #e8e8ec;
}

div h1 {
    color: #2a8a6d;
}

div ul {
    list-style-type: none;
    font-size: 20px;
}

div li {
    padding: 5px;
}

.cursos {
    position: relative;
    display: inline-flex;
    width: 100%;
}

#DesarrolloWeb {
    margin-right: 5px;
}

#programacion {
    margin-left: 5px;
}

.cursos div {
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    border: solid 1px #b2b2b3;
    border-radius: 4px;
}